.login-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  .sign-up {
      font-size: 1rem;
      margin-left: 8px;
    }

    a{
      text-decoration: underline;
      cursor: pointer;
      color:darkblue
    }
}


